:root {
  --search-input-width: 100% !important;
}

// 修改默认样式
body {
  font-family: Georgia, serif;
}

.search-box {
  order: -1;
  margin-right: 1em;
}

.theme-container {

  .date {
    color: gray;
  }

  .center {
    display: block;
    text-align: center;
  }
}

// 首页样式
.home {
  max-width: var(--content-width);

  .theme-default-content {
    min-height: 35vh;
  }

  .hero {
    img {
      max-height: 5rem;
      transform: rotate(0deg);
      transition: all 1s ease;

      &:hover {
        transform: rotate(180deg);
        transition: all 1s ease;
      }
    }
  }
}
